# **Exploratory Analysis on Lunch Delivery Time Series Data**

## **1. Import data**


- num_matrix is number of orders: col=time periods, row=locations.

- quan_matrix is total quantity ordered.

- distance_matrix is the distance between two locations.

- time.csv records the date/time of each period

In [48]:
import pandas as pd
import numpy as np
import csv

data_dir = "/home/angps/Documents/Thesis/Data/"

**Importing Demand for each location and time period**

In [56]:
loc_time_demand_df = pd.read_csv(data_dir + "num_matrix.txt", header=None, names = list(range(1,205)), delim_whitespace=True)

In [57]:
loc_time_demand_df.shape

(839, 204)

In [58]:
loc_time_demand_df.head()

,1,2,3,4,5,6,7,8,9,10,...,195,196,197,198,199,200,201,202,203,204
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

**Import time-date mapping df**

In [61]:
time_date_df = pd.read_csv(data_dir + "time.csv", index_col=0)

In [62]:
time_date_df.head()

       date weekday
1  08/10/15  Monday
2  08/10/15  Monday
3  08/10/15  Monday
4  08/10/15  Monday
5  08/10/15  Monday

## **2. Exploratory Analysis on Demand Data**

### **2.1 Mean/Median of each day**

### **2.2 Percentage of 0s for locations**