In [1]:
from tslearn.clustering import TimeSeriesKMeans

In [2]:
import pandas as pd
import numpy as np
import csv
import matplotlib.pyplot as plt
import seaborn as sns
data_dir = "/home/angps/Documents/Thesis/Data/"
image_dir = "/home/angps/Documents/Thesis/Report/Images/"
df = pd.read_csv(data_dir + "full_df_with_exo.csv")

In [3]:
endo_df = df.iloc[:839,:]

In [4]:
endo_df.shape

(839, 204)

In [5]:
endo_df.tail()

,1,2,3,4,5,6,7,8,9,10,...,195,196,197,198,199,200,201,202,203,204
834,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
835,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
836,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
837,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
838,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
km_3 = TimeSeriesKMeans(n_clusters = 3, metric = 'dtw', random_state = 0).fit(endo_df)
km_6 = TimeSeriesKMeans(n_clusters = 6, metric = 'dtw', random_state = 0).fit(endo_df)
km_9 = TimeSeriesKMeans(n_clusters = 9, metric = 'dtw', random_state = 0).fit(endo_df)
km_12 = TimeSeriesKMeans(n_clusters = 12, metric = 'dtw', random_state = 0).fit(endo_df)

In [7]:
from collections import defaultdict
cluster_grp_3 = defaultdict(list)
cluster_grp_6 = defaultdict(list)
cluster_grp_9 = defaultdict(list)
cluster_grp_12 = defaultdict(list)

for ind, group in enumerate(km_3.labels_):
    cluster_grp_3[group].append(ind + 1)
for ind, group in enumerate(km_6.labels_):
    cluster_grp_6[group].append(ind + 1)
for ind, group in enumerate(km_9.labels_):
    cluster_grp_9[group].append(ind + 1)
for ind, group in enumerate(km_12.labels_):
    cluster_grp_12[group].append(ind + 1)

In [39]:
np.array(cluster_grp_12[12])

array([], dtype=float64)